body {
    font-family: 'Poppins', sans-serif;
}

.top-section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 40%;
    margin-left: 7%;
}

.half-width img {
    width: 80%;
}

.Second-half-width {
    width: 40%;
    margin-left: 7%;
}

.Second-half-width img {
    width: 60%;
}

.Second-top {
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.AboutHalf {
    padding-top: 250px;
}

.AboutHalf p {
    padding-bottom: 50px;
}

#slogan {
    font-size: 50px;
}

.stDiv {
    padding-top: 200px;

}

.orderButton {
    text-decoration: none;
    background-image: linear-gradient(45deg, red, yellow);
    padding: 10px 20px;
    border-radius: 30px;
    color: black;
    font-weight: 600;
}

#highLight {
    color: orange;
}